.container {
    display: flex;
    align-items: center;
    gap: 5vh;
    margin-bottom: 5vh;
}

.imgContainer {
    flex: 1;
    position: relative;
    height: 450px;
}

.img {
    object-fit: contain;
}

.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form input,
.form textarea {
    padding: 18px;
    border-radius: 5px;
    border: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.form button {
    padding: 15px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.title {
    font-size: 20px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}