.links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logout {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.user {
    margin-left: 100px;
    margin-right: 40px;
    font-size: 18px;
}

.mobileLinks,
.menuButton {
    display: none;
}


@media (max-width: 768px) {

    .links {
        display: none;
    }

    .menuButton {
        display: block;
        cursor: pointer;
    }

    .mobileLinks {
        position: fixed;
        z-index: 1;
        top: 25%;
        right: 0;
        width: 180px;
        height: 300px;
        padding-left: 30px;
        background: rgba(13, 12, 34, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}