.container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0vh;
    border-bottom:2px solid white ;
}

.logo {
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: relative;

}
.logo:hover {
    transition: transform .3s ease;
    transform: scale(1.2);
}